    <%= form_for(@mood) do |f| %>
      <% if @mood.errors.any? %>
      <div id="errorExplanation">
        <h2><%= pluralize(@mood.errors.count, "error") %> prohibited
            this mood from being saved:</h2>
        <ul>
        <% @mood.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
      <% end %>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label has-text-white">Score</label>
        </div>
        <div class="field-body">
          <div class="select">
            <%= f.select :score, options_for_select((1..10).to_a) %>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label has-text-white">Notes</label>
        </div>
        <div class="field-body">
          <div class="control">
            <%= f.text_area :notes, rows: 3, columns: 10, class: 'textarea is-medium' %>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label"></label>
        </div>
        <div class="field-body">
          <div class="actions">
            <%= f.submit 'Save', class: 'button is-primary' %>
          </div>
        </div>
      </div>

    <% end %>